body{
	padding:0px;
	margin:0px;
	border:2px solid lightblue;
	width:500px;
	height: 500px;
}
canvas{
	width:30px;
	height: 30px;
	border-radius:50%;
	position: absolute;
}
#btn{
	position: absolute;
	left:250px;
	top:550px;
	transform: translatex(-50px);
	border:2px solid transparent;
	background:skyblue;
	font-size:20px;
	font-family: sans-serif; 
	padding:10px;
	width:100px;
	border-radius:5px;
	color:black;
}